/* Element styles */
em{
	color: green;
	font-weight: bold;
}

a{
	cursor: pointer;
}

/* class styles */
.output , .contentHeading {
	font-weight: bold;
	font-style: italic;
}

.up{
	bottom: 0px;
	right: 0px;
	position: fixed;
}
/* id styles */