/* Element styles */
em{
	color: green;
	font-weight: bold;
}

a{
	cursor: pointer;
}

img{
	width: 100%;
}

/* class styles */
.output , .contentHeading {
	font-weight: bold;
	font-style: italic;
}

.up{
	bottom: 10px;
	right: 5px;
	position: fixed;
}
/* id styles */