<!-- <!DOCTYPE html>
<html ng-app="cerebro">
<head>
<meta charset="ISO-8859-1">
<title>Cerebro</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/cerebro.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/cerebro.js"></script>
</head>
<body ng-controller="cerebroController">

Top Navigation bar
<div ng-include=" 'topNavigation.html' " id="0"></div>

Body Content
<div class="container" style="margin-top:25px"> -->

<div class="page-header">
    <h3>Date</h3>      
</div>

<ul class="pager">
  <li><a ng-href="string.html">Previous</a></li>
  <li><a ng-href="coreJava.html"><span class="glyphicon glyphicon-home"></span> Home </a></li>
  <li><a ng-href="collections.html">Next</a></li>
</ul>

<div class="panel panel-primary"><div class="panel-heading">Topics</div><div class="panel-body">
	<ul>
		<li><a ng-click="navigate(1)">Creating java.time.Clock object</a></li>
		<li><a ng-click="navigate(2)">java.time.LocalDate</a></li>
		<li><a ng-click="navigate(3)">java.time.LocalTime</a></li>
		<li><a ng-click="navigate(4)">java.time.LocalDateTime</a></li>
		<li><a ng-click="navigate(5)">java.time.ZonedDateTime</a></li>
		<li><a ng-click="navigate(6)">java.time.Duration</a></li>
		<li><a ng-click="navigate(7)">Convert java.util.Date to java.time.LocalDate</a></li>
		<li><a ng-click="navigate(8)">Convert java.time.LocalDate to java.util.Date</a></li>
		<li><a ng-click="navigate(9)">Convert java.util.Date to java.time.LocalDateTime</a></li>
		<li><a ng-click="navigate(10)">Convert java.time.LocalDateTime to java.util.Date</a></li>
		<li><a ng-click="navigate(11)">Convert java.util.Date to java.time.LocalTime</a></li>
		<li><a ng-click="navigate(12)">Convert java.util.Date to java.time.ZonedDateTime</a></li>
		<li><a ng-click="navigate(13)">Convert java.time.ZonedDateTime to java.util.Date</a></li>
		<li><a ng-click="navigate(14)">Convert java.time.LocalDateTime to java.time.ZonedDateTime</a></li>
	</ul>
</div></div>

<div class="panel panel-primary" id="1"><div class="panel-heading">Creating java.time.Clock object</div><div class="panel-body"><pre><code>
public void clock() {
	Clock clock = Clock.systemUTC();
	System.out.println(&quot;clock.instant(): &quot; + clock.instant());
	System.out.println(&quot;clock.millis(): &quot; + clock.millis());
	System.out.println(&quot;clock.getZone(): &quot; + clock.getZone());
    }
 </code></pre>
 <em>Output</em>
 <pre><code>
clock.instant(): 2017-01-07T08:03:26.122Z
clock.millis(): 1483776206469
clock.getZone(): Z
 </code></pre>
 </div></div>

<div class="panel panel-primary" id="2"><div class="panel-heading">java.time.LocalDate</div><div class="panel-body"><pre><code>
  public void localDate() {
	LocalDate localDate1 = LocalDate.now();
	System.out.println(&quot;localDate: &quot; + localDate1);

	Clock clock1 = Clock.systemUTC();
	LocalDate localDate2 = LocalDate.now(clock1);
	System.out.println(&quot;localDate2: &quot; + localDate2);
    }
</code></pre>
<em>Output</em>
<pre><code>
localDate: 2017-01-07
localDate2: 2017-01-07
</code></pre>
</div></div>
 
 <div class="panel panel-primary" id="3"><div class="panel-heading">java.time.LocalTime</div><div class="panel-body"><pre><code>
public void localTime() {
	LocalTime localTime1 = LocalTime.now();
	System.out.println(&quot;localTime1: &quot; + localTime1);

	Clock clock1 = Clock.systemUTC();
	LocalTime localTime2 = LocalTime.now(clock1);
	System.out.println(&quot;localTime2: &quot; + localTime2);

	Clock clock2 = Clock.systemDefaultZone();
	LocalTime localTime3 = LocalTime.now(clock2);
	System.out.println(&quot;localTime3: &quot; + localTime3);
    }  
</code></pre>
<em>Output</em>
<pre><code>
localTime1: 13:37:55.773
localTime2: 08:07:55.773
localTime3: 13:37:55.773
</code></pre>
</div></div>
 
 <div class="panel panel-primary" id="4"><div class="panel-heading">java.time.LocalDateTime</div><div class="panel-body"><pre><code>
public void localDateTime() {
	LocalDateTime localDateTime1 = LocalDateTime.now();
	System.out.println(&quot;localDateTime1: &quot; + localDateTime1);

	Clock clock1 = Clock.systemUTC();
	LocalDateTime localDateTime2 = LocalDateTime.now(clock1);
	System.out.println(&quot;localDateTime2: &quot; + localDateTime2);

	Clock clock2 = Clock.systemDefaultZone();
	LocalDateTime localDateTime3 = LocalDateTime.now(clock2);
	System.out.println(&quot;localDateTime3: &quot; + localDateTime3);
    }
</code></pre>
<em>Output</em>
<pre><code>
localDateTime1: 2017-01-07T13:38:28.995
localDateTime2: 2017-01-07T08:08:28.996
localDateTime3: 2017-01-07T13:38:28.996
</code></pre>
</div></div>
 
 <div class="panel panel-primary" id="5"><div class="panel-heading">java.time.ZonedDateTime</div><div class="panel-body"><pre><code>
public void zonedDateTime() {
	ZonedDateTime zonedDateTime1 = ZonedDateTime.now();
	System.out.println(&quot;zonedDateTime1: &quot; + zonedDateTime1);

	Clock clock1 = Clock.systemUTC();
	ZonedDateTime zonedDateTime2 = ZonedDateTime.now(clock1);
	System.out.println(&quot;zonedDateTime2: &quot; + zonedDateTime2);

	ZonedDateTime zonedDateTime3 = ZonedDateTime.now(ZoneId.of(&quot;Asia/Calcutta&quot;));
	System.out.println(&quot;zonedDateTime3: &quot; + zonedDateTime3);
    }
</code></pre>
<em>Output</em>
<pre><code>
zonedDateTime1: 2017-01-07T13:38:55.390+05:30[Asia/Calcutta]
zonedDateTime2: 2017-01-07T08:08:55.391Z
zonedDateTime3: 2017-01-07T13:38:55.391+05:30[Asia/Calcutta]
</code></pre>
</div></div> 
 
 <div class="panel panel-primary" id="6"><div class="panel-heading">java.time.Duration</div><div class="panel-body"><pre><code>
public void duration() {
	LocalDateTime localDateTime1 = LocalDateTime.of(2014, Month.NOVEMBER, 27, 15, 50);
	LocalDateTime localDateTime2 = LocalDateTime.of(2016, Month.NOVEMBER, 27, 15, 50);

	Duration duration1 = Duration.between(localDateTime1, localDateTime2);
	System.out.println(&quot;duration1: &quot; + duration1);
	System.out.println(&quot;days: &quot; + duration1.toDays());
	System.out.println(&quot;months: &quot; + duration1.toDays() / 30);
	System.out.println(&quot;years: &quot; + (duration1.toDays() / 30) / 12);
	System.out.println(&quot;hours: &quot; + duration1.toHours());
	System.out.println(&quot;minutes: &quot; + duration1.toMinutes());
	System.out.println(&quot;seconds: &quot; + duration1.getSeconds());
    } 
 </code></pre>
 <em>Output</em>
<pre><code>
duration1: PT17544H
days: 731
months: 24
years: 2
hours: 17544
minutes: 1052640
seconds: 63158400
</code></pre>
 </div></div>
 
 <div class="panel panel-primary" id="7"><div class="panel-heading">Convert java.util.Date to java.time.LocalDate</div><div class="panel-body"><pre><code>
public void convertUtilDateToLocalDate() {
	Date date = new Date();
	System.out.println(&quot;convertUtilDateToLocalDate() date: &quot; + date);

	Instant instant = date.toInstant();
	System.out.println(&quot;convertUtilDateToLocalDate() instant: &quot; + instant);

	ZoneId systemDefaultZoneId = ZoneId.systemDefault();
	LocalDate localDate = instant.atZone(systemDefaultZoneId).toLocalDate();
	System.out.println(&quot;convertUtilDateToLocalDate() localDate: &quot; + localDate);
    } 
 </code></pre>
 <em>Output</em>
<pre><code>
convertUtilDateToLocalDate() date: Sat Jan 07 13:39:51 IST 2017
convertUtilDateToLocalDate() instant: 2017-01-07T08:09:51.695Z
convertUtilDateToLocalDate() localDate: 2017-01-07
</code></pre>
 </div></div>
 
 <div class="panel panel-primary" id="8"><div class="panel-heading">Convert java.time.LocalDate to java.util.Date</div><div class="panel-body"><pre><code>
public void convertLocalDateToUtilDate() {
	LocalDate localDate = LocalDate.now();
	System.out.println(&quot;convertLocalDateToUtilDate() localDate: &quot; + localDate);

	ZoneId zoneId = ZoneId.systemDefault();
	Date date = Date.from(localDate.atStartOfDay(zoneId).toInstant());
	System.out.println(&quot;convertLocalDateToUtilDate() date: &quot; + date);
    } 
 </code></pre>
 <em>Output</em>
<pre><code>
convertLocalDateToUtilDate() localDate: 2017-01-07
convertLocalDateToUtilDate() date: Sat Jan 07 00:00:00 IST 2017
</code></pre>
 </div></div>
 
<div class="panel panel-primary" id="9"><div class="panel-heading">Convert java.util.Date to java.time.LocalDateTime</div><div class="panel-body"><pre><code>
public void convertUtilDateToLocalDateTime() {
	Date date = new Date();
	System.out.println(&quot;convertUtilDateToLocalDateTime() date: &quot; + date);

	Instant instant = date.toInstant();
	System.out.println(&quot;convertUtilDateToLocalDateTime() instant: &quot; + instant);

	ZoneId systemDefaultZoneId = ZoneId.systemDefault();
	LocalDateTime localDateTime = instant.atZone(systemDefaultZoneId).toLocalDateTime();
	System.out.println(&quot;convertUtilDateToLocalDateTime() localDateTime: &quot; + localDateTime);
    } 
 </code></pre>
 <em>Output</em>
<pre><code>
convertUtilDateToLocalDateTime() date: Sat Jan 07 13:41:03 IST 2017
convertUtilDateToLocalDateTime() instant: 2017-01-07T08:11:03.750Z
convertUtilDateToLocalDateTime() localDateTime: 2017-01-07T13:41:03.750
</code></pre>
 </div></div>
 
 <div class="panel panel-primary" id="10"><div class="panel-heading">Convert java.time.LocalDateTime to java.util.Date</div><div class="panel-body"><pre><code>
 public void convertLocalDateTimeToUtilDate() {
	Clock clock = Clock.systemDefaultZone();
	LocalDateTime localDateTime = LocalDateTime.now(clock);
	System.out.println(&quot;convertLocalDateTimeToUtilDate() localDateTime: &quot; + localDateTime);

	ZoneId zoneId = ZoneId.systemDefault();
	Date date = Date.from(localDateTime.atZone(zoneId).toInstant());
	System.out.println(&quot;convertLocalDateTimeToUtilDate() date: &quot; + date);
    } 
 </code></pre>
 <em>Output</em>
<pre><code>
convertLocalDateTimeToUtilDate() localDateTime: 2017-01-07T13:41:39.015
convertLocalDateTimeToUtilDate() date: Sat Jan 07 13:41:39 IST 2017
</code></pre>
 </div></div>
 
 <div class="panel panel-primary" id="11"><div class="panel-heading">Convert java.util.Date to java.time.LocalTime</div><div class="panel-body"><pre><code>
public void convertUtilDateToLocalTime() {
	Date date = new Date();
	System.out.println(&quot;convertUtilDateToLocalTime() date: &quot; + date);

	Instant instant = date.toInstant();
	System.out.println(&quot;convertUtilDateToLocalTime() instant: &quot; + instant);

	ZoneId systemDefaultZoneId = ZoneId.systemDefault();
	LocalTime localTime = instant.atZone(systemDefaultZoneId).toLocalTime();
	System.out.println(&quot;convertUtilDateToLocalTime() localTime: &quot; + localTime);
    } 
 </code></pre>
 <em>Output</em>
<pre><code>
convertUtilDateToLocalTime() date: Sat Jan 07 13:42:11 IST 2017
convertUtilDateToLocalTime() instant: 2017-01-07T08:12:11.514Z
convertUtilDateToLocalTime() localTime: 13:42:11.514
</code></pre>
 </div></div>
 
<div class="panel panel-primary" id="12"><div class="panel-heading">Convert java.util.Date to java.time.ZonedDateTime</div><div class="panel-body"><pre><code>
public void convertUtilDateToZonedDateTime() {
	Date date = new Date();
	System.out.println(&quot;convertUtilDateToZonedDateTime() date: &quot; + date);

	Instant instant = date.toInstant();
	System.out.println(&quot;convertUtilDateToZonedDateTime() instant: &quot; + instant);

	ZoneId zoneId = ZoneId.systemDefault();
	ZonedDateTime zonedDateTime = instant.atZone(zoneId);
	System.out.println(&quot;convertUtilDateToZonedDateTime() zonedDateTime: &quot; + zonedDateTime);
    } 
 </code></pre>
 <em>Output</em>
<pre><code>
convertUtilDateToZonedDateTime() date: Sat Jan 07 13:42:41 IST 2017
convertUtilDateToZonedDateTime() instant: 2017-01-07T08:12:41.628Z
convertUtilDateToZonedDateTime() zonedDateTime: 2017-01-07T13:42:41.628+05:30[Asia/Calcutta]
</code></pre>
 </div></div>
 
<div class="panel panel-primary" id="13"><div class="panel-heading">Convert java.time.ZonedDateTime to java.util.Date</div><div class="panel-body"><pre><code>
public void convertZonedDateTimeToUtilDate() {
	Clock clock = Clock.systemDefaultZone();
	ZonedDateTime zonedDateTime = ZonedDateTime.now(clock);
	System.out.println(&quot;convertZonedDateTimeToUtilDate() zonedDateTime: &quot; + zonedDateTime);

	Date date = Date.from(zonedDateTime.toInstant());
	System.out.println(&quot;convertZonedDateTimeToUtilDate() date: &quot; + date);
    }
</code></pre>
<em>Output</em>
<pre><code>
convertZonedDateTimeToUtilDate() zonedDateTime: 2017-01-07T13:43:16.662+05:30[Asia/Calcutta]
convertZonedDateTimeToUtilDate() date: Sat Jan 07 13:43:16 IST 2017
</code></pre>
</div></div>

<div class="panel panel-primary" id="14"><div class="panel-heading">Convert java.time.LocalDateTime to java.time.ZonedDateTime</div><div class="panel-body"><pre><code>
public void convertLocalDateTimeToZonedDateTime() {
	Clock clock = Clock.systemDefaultZone();
	LocalDateTime localDateTime = LocalDateTime.now(clock);
	System.out.println(&quot;convertLocalDateTimeToZonedDateTime() localDateTime: &quot; + localDateTime);

	ZonedDateTime zonedDateTime = localDateTime.atZone(ZoneId.systemDefault());
	System.out.println(&quot;convertLocalDateTimeToZonedDateTime() zonedDateTime: &quot; + zonedDateTime);
    }
</code></pre>
<em>Output</em>
<pre><code>
convertLocalDateTimeToZonedDateTime() localDateTime: 2017-01-07T13:43:40.808
convertLocalDateTimeToZonedDateTime() zonedDateTime: 2017-01-07T13:43:40.808+05:30[Asia/Calcutta]
</code></pre>
</div></div>

<!--   </div>
</body>
</html> -->