<div class="page-header">
    <h3>{{message}}</h3>      
</div>

<div class="form-group">
      <label for="sel1">Definition Types:</label>
      <select class="form-control" id="definitionType" name="definitionType" ng-model="definitionType.selected">
      	<option ng-repeat="type in definitionType.types" value="{{type.key}}">{{type.value}}</option>
      </select>
</div>

<button type="button" class="btn btn-info" ng-click="getDefinitions()">Get Definitions</button>
<a class="btn btn-info" role="button" ng-href="#addDefinitions">Add Definition</a>

<hr/>

<table class="table table-hover table-bordered table-striped">
	<thead>
		<tr>
		<th>Description</th>
		<th>Details</th>
		<th>Images</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="definition in definitionsList">
			<td>{{definition.description}}</td>
			<td>{{definition.details}}</td>
			<td>{{definition.imagePaths}}</td>
		</tr>
	</tbody>
</table>

<hr />

<!-- <a ng-href="#addDefinitions">Add Definition</a> -->