<div class="page-header">
    <h3>Hibernate</h3>      
</div>

<!-- <ol class="breadcrumb">
    <li ng-repeat="breadCrumb in breadCrumbs" ng-if="!$last"><a ng-href="{{breadCrumb.link}}">{{breadCrumb.name}}</a></li>
    <li ng-repeat="breadCrumb in breadCrumbs" ng-if="$last" class="active">{{breadCrumb.name}}</li>
 </ol>
 <hr/> -->

<div class="panel panel-primary"><div class="panel-heading">Contents</div><div class="panel-body">
	<ul>
		<li><a ng-href="#hibernate5HelloWorld">Hibernate 5 Hello World</a></li>
	</ul>
</div></div>