<div class="page-header">
    <h3>List</h3> 
</div>

<div class="panel panel-primary"><div class="panel-heading">Topics</div><div class="panel-body">
	<ul>
		<li><a ng-click="navigate(1)">Split List into sub lists of specified size</a></li>
		<li><a ng-click="navigate(2)">Convert Array to List</a></li>
		<li><a ng-click="navigate(3)">Convert List to Array</a></li>
		<li><a ng-click="navigate(4)">Convert List to Comma Separated String</a></li>
		<li><a ng-click="navigate(5)">Remove all nulls from list</a></li>
		<li><a ng-click="navigate(7)">List1 Minus List2</a></li>
		<li><a ng-click="navigate(8)">List1 Intersection List2</a></li>
		<li><a ng-click="navigate(6)">Prepare sorted list sort by date using java 8 collection streams</a></li>
		<li><a ng-click="navigate(9)">Get another list using properties of main object</a></li>
	</ul>
</div></div>

<div class="panel panel-primary" id="1"><div class="panel-heading">Split List into sub lists of specified size</div><div class="panel-body">
<pre><code>
public static void main(String[] args) {
	ListPractice listPractice = new ListPractice();
	List&lt;Integer&gt; srcList = Arrays.asList(1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
	System.out.println(listPractice.splitList(srcList, 2));
	System.out.println(listPractice.splitList(srcList, 3));
	System.out.println(listPractice.splitList(srcList, 4));
	System.out.println(listPractice.splitList(srcList, 5));
	System.out.println(listPractice.splitList(srcList, 10));
	System.out.println(listPractice.splitList(srcList, 15));
    }
</code></pre>
<pre ><code>
public &lt;T&gt; List&lt;List&lt;T&gt;&gt; splitList(List&lt;T&gt; srcList, final int lengthOfSubList) {
	List&lt;List&lt;T&gt;&gt; splits = new ArrayList&lt;&gt;();
	final int size = srcList.size();
	for (int i = 0; i &lt; size; i = i + lengthOfSubList) {
    	  splits.add(new ArrayList&lt;T&gt;(srcList.subList(i, Math.min(size, i + lengthOfSubList))));
	}
	return splits;
   }
</code>	</pre>
<em>Output</em>
<pre><code>
[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10]]
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
</code></pre>
</div></div>

<div class="panel panel-primary" id="2"><div class="panel-heading" >Convert Array to List</div><div class="panel-body">
  	<pre ><code>
  	public void convertArrayToList() {
	String[] stringArray = new String[] { &quot;A&quot;, &quot;B&quot;, &quot;C&quot;, &quot;D&quot; };

	<em>// method 1</em>
	List&lt;String&gt; stringList = Arrays.asList(stringArray);
	System.out.println(&quot;stringList: &quot; + stringList);

	<em>// method 2</em>
	List&lt;String&gt; stringList2 = new ArrayList&lt;&gt;(Arrays.asList(stringArray));
	System.out.println(&quot;stringList2: &quot; + stringList2);

	<em>// method 3</em>
	int[] numbersArray1 = new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
	List&lt;Integer&gt; numbersList1 = new ArrayList&lt;&gt;();
	for (int number : numbersArray1) {
	    numbersList1.add(number);
	}
	System.out.println(&quot;numbersList1: &quot; + numbersList1);
	
	<em>// method 4</em>
	Integer[] numbersArray3 = new Integer[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
	List&lt;Integer&gt; numbersList3 = Arrays.asList(numbersArray3);
	System.out.println(&quot;numbersList3: &quot; + numbersList3);

	<em>// from java 8</em>
	int[] numbersArray2 = new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
	List&lt;Integer&gt; numbersList2 = Arrays.stream(numbersArray2).boxed().collect(Collectors.toList());
	System.out.println(&quot;numbersList2: &quot; + numbersList2);

    }
</code>	</pre>
<em>Output</em>
<pre><code>
stringList: [A, B, C, D]
stringList2: [A, B, C, D]
numbersList1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbersList2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbersList3: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
</code></pre>
</div></div>

<div class="panel panel-primary" id="3"><div class="panel-heading" >Convert List to Array</div><div class="panel-body">
  <pre><code>
 public void convertListToArray() {
	List&lt;String&gt; list1 = new ArrayList&lt;&gt;();
	list1.add(&quot;A&quot;);
	list1.add(&quot;B&quot;);
	list1.add(&quot;C&quot;);
	System.out.println(&quot;list1: &quot; + list1);

	String[] list1Array = list1.toArray(new String[list1.size()]);
	for (String value : list1Array) {
	    System.out.print(value + &quot;,&quot;);
	}
    }
</code></pre>
<em>Output</em>
<pre><code>
list1: [A, B, C]
A
B
C
</code></pre>
</div></div>

<div class="panel panel-primary" id="4"><div class="panel-heading" >Convert List to Comma Separated String</div><div class="panel-body">
  	<pre><code>
  public void convertListToCommaSeparatedString() {
	List&lt;String&gt; list = Arrays.asList(&quot;A&quot;, &quot;B&quot;, &quot;C&quot;, &quot;D&quot;, &quot;E&quot;);

	<em>//method 1</em>
	StringBuffer listToString1 = new StringBuffer(list.toString());
	listToString1.deleteCharAt(0);
	listToString1.deleteCharAt(listToString1.length() - 1);
	String destString = listToString1.toString().replace(&quot; &quot;, &quot;&quot;);
	System.out.println(&quot;listToString1: &quot; + destString);

	<em>// method 2</em>
	Iterator&lt;String&gt; iterator = list.iterator();
	StringBuffer listToString2 = new StringBuffer();
	for (;;) {
	    listToString2.append(iterator.next());
	    if (!iterator.hasNext())
		break;
	    listToString2.append(&quot;,&quot;);
	}
	System.out.println(&quot;listToString2: &quot; + listToString2);

	<em>// method 3</em>
	StringBuffer listToString3 = new StringBuffer(&quot;[&quot;);
	for (Iterator&lt;String&gt; iterator2 = list.iterator(); iterator2.hasNext();) {
	    listToString3.append(iterator2.next());
	    if (iterator2.hasNext()) {
		listToString3.append(&quot;,&quot;);
	    }
	}
	listToString3.append(&quot;]&quot;);
	System.out.println(&quot;listToString3: &quot; + listToString3.toString());
    }
</code></pre>
<em>Output</em>
<pre><code>
listToString1: A,B,C,D,E
listToString2: A,B,C,D,E
listToString3: [A,B,C,D,E]
</code></pre>
</div></div>

<div class="panel panel-primary" id="5"><div class="panel-heading" >Remove all nulls from list</div><div class="panel-body">
  	<pre><code>
public void removeAllNullsFromList() {
	List&lt;String&gt; list = new ArrayList&lt;&gt;();
	list.add(&quot;a&quot;);
	list.add(null);
	list.add(&quot;b&quot;);
	list.add(null);
	list.add(&quot;c&quot;);
	list.add(null);

	System.out.println(&quot;list: &quot; + list);

	// remove nulls
	list.removeAll(Collections.singleton(null));

	System.out.println(&quot;after remove: &quot; + list);
    }  	
  	</code></pre>
  	<em>Output</em>
  	<pre><code>
list: [a, null, b, null, c, null]
after remove: [a, b, c]  	
  	</code></pre>
</div></div>

<div class="panel panel-primary" id="6"><div class="panel-heading" >Prepare sorted list sort by date using java 8 collection streams</div><div class="panel-body">
Employee.java
<pre><code>
package core.java.collections.model;

import java.time.LocalDate;

public class Employee {

    private LocalDate localDate;

    public Employee() {
    }

    public Employee(LocalDate localDate) {
	this.localDate = localDate;
    }

    public LocalDate getLocalDate() {
	return localDate;
    }

    public void setLocalDate(LocalDate localDate) {
	this.localDate = localDate;
    }

    @Override
    public String toString() {
	return &quot;[localDate=&quot; + localDate + &quot;]&quot;;
    }
}
</code></pre>
Test Method
<pre><code>
public void sortListByDate() {
 List&lt;Employee&gt; employeeList = Arrays.asList(new Employee(LocalDate.of(2017, 04, 12)), new Employee(LocalDate.of(2017, 04, 13)), new Employee(LocalDate.of(2017, 01, 01)), new Employee(LocalDate.of(2017, 02, 10)), new Employee(LocalDate.of(2017, 03, 11)));
 List&lt;Employee&gt; sortedList = employeeList.stream().sorted((e1, e2) -&gt; e1.getLocalDate().compareTo(e2.getLocalDate())).collect(Collectors.toList());
 
 System.out.println(&quot;employeeList: &quot; + employeeList);
 System.out.println(&quot;sortedList: &quot; + sortedList);
} 	
</code></pre>
<em>Output</em>
<pre><code>
employeeList: [[localDate=2017-04-12], [localDate=2017-04-13], [localDate=2017-01-01], [localDate=2017-02-10], [localDate=2017-03-11]]
sortedList: [[localDate=2017-01-01], [localDate=2017-02-10], [localDate=2017-03-11], [localDate=2017-04-12], [localDate=2017-04-13]]
</code></pre>
</div></div>

<div class="panel panel-primary" id="7"><div class="panel-heading" >List1 Minus List2</div><div class="panel-body">
<pre><code>
public void list1MinusList2() {
	List&lt;String&gt; list1 = new ArrayList&lt;&gt;();
	list1.add(&quot;a&quot;);
	list1.add(&quot;b&quot;);
	list1.add(&quot;c&quot;);
	list1.add(&quot;d&quot;);
	list1.add(&quot;e&quot;);

	List&lt;String&gt; list2 = new ArrayList&lt;&gt;();
	list2.add(&quot;a&quot;);
	list2.add(&quot;b&quot;);
	list2.add(&quot;c&quot;);

	System.out.println(&quot;list1: &quot; + list1);
	System.out.println(&quot;list2: &quot; + list2);

	list1.removeAll(list2);
	System.out.println(&quot;After removeAll -&gt; list1: &quot; + list1);
    }
</code></pre>
<em>Output</em>
<pre><code>
list1: [a, b, c, d, e]
list2: [a, b, c]
After removeAll -&gt; list1: [d, e]
</code></pre>
</div></div>

<div class="panel panel-primary" id="8"><div class="panel-heading" >List1 Intersection List2</div><div class="panel-body">
<pre><code>
public void list1IntersectionList2() {
	List&lt;String&gt; list1 = new ArrayList&lt;&gt;();
	list1.add(&quot;a&quot;);
	list1.add(&quot;b&quot;);
	list1.add(&quot;c&quot;);
	list1.add(&quot;d&quot;);
	list1.add(&quot;e&quot;);

	List&lt;String&gt; list2 = new ArrayList&lt;&gt;();
	list2.add(&quot;a&quot;);
	list2.add(&quot;b&quot;);
	list2.add(&quot;c&quot;);

	System.out.println(&quot;list1: &quot; + list1);
	System.out.println(&quot;list2: &quot; + list2);

	list1.retainAll(list2);
	System.out.println(&quot;After retainAll -&gt; list1: &quot; + list1);
    }
</code></pre>
<em>Output</em>
<pre><code>
list1: [a, b, c, d, e]
list2: [a, b, c]
After retainAll -&gt; list1: [a, b, c]
</code></pre>
</div></div>

<div class="panel panel-primary" id="9"><div class="panel-heading" >Get another list using properties of main object</div><div class="panel-body">
Employee.java
<pre><code>
package core.java.collections.model;

import java.time.LocalDate;

public class Employee {

    private LocalDate localDate;
    private String firstName;

    public Employee() {
    }

    public Employee(LocalDate localDate) {
	this.localDate = localDate;
    }

    public Employee(LocalDate localDate, String firstName) {
	this.localDate = localDate;
	this.firstName = firstName;
    }

    public LocalDate getLocalDate() {
	return localDate;
    }

    public void setLocalDate(LocalDate localDate) {
	this.localDate = localDate;
    }

    public String getFirstName() {
	return firstName;
    }

    public void setFirstName(String firstName) {
	this.firstName = firstName;
    }

    @Override
    public String toString() {
	return &quot;[localDate=&quot; + localDate + &quot;]&quot;;
    }
}
</code></pre>
Test Method:
<pre><code>
public void getFirstNameListFromEmployee() {
	List&lt;Employee&gt; employeeList = Arrays.asList(new Employee(LocalDate.of(2017, 04, 12), &quot;john&quot;),
		new Employee(LocalDate.of(2017, 04, 13), &quot;jack&quot;), new Employee(LocalDate.of(2017, 01, 01), &quot;jill&quot;),
		new Employee(LocalDate.of(2017, 02, 10), &quot;mahesh&quot;), new Employee(LocalDate.of(2017, 03, 11), &quot;suresh&quot;));
	<em>// using method reference</em>
	List&lt;String&gt; namesList = employeeList.stream().map(Employee::getFirstName).collect(Collectors.toList());
	System.out.println(&quot;namesList: &quot; + namesList);
	
	<em>// using lambda expression</em>
	List&lt;String&gt; namesList2 = employeeList.stream().map(employee -&gt; employee.getFirstName()).collect(Collectors.toList());
	System.out.println(&quot;namesList2: &quot; + namesList2);
    }
</code></pre>
<em>Output</em>
<pre><code>
namesList: [john, jack, jill, mahesh, suresh]
namesList2: [john, jack, jill, mahesh, suresh]
</code></pre>
</div></div>