<!DOCTYPE html>
<html ng-app="cerebro">
<head>
<title>Cerebro</title>
<link rel="stylesheet" href="../css/cerebro.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/cerebro.js"></script>
</head>
<body ng-controller="cerebroController">

<!-- Top Navigation bar -->
<div ng-include=" 'topNavigation.html' " id="0"></div>
	
<div class="container" style="margin-top:25px">

<div class="page-header">
    <h3>Map</h3>      
</div>

<ul class="pager">
  <li><a ng-href="list.html">Previous</a></li>
  <li><a ng-href="collections.html"><span class="glyphicon glyphicon-home"></span> Home </a></li>
  <li><a ng-href="#">Next</a></li>
</ul>

<div class="panel panel-primary"><div class="panel-heading">Topics</div><div class="panel-body">
	<ul>
		<li><a ng-click="navigate(1)">Sort Map by Key method1</a></li>
		<li><a ng-click="navigate(2)">Sort Map by Key with java.util.Comparator</a></li>
		<li><a ng-click="navigate(3)">Sort Map by value</a></li>
		<li><a ng-click="navigate(4)">Iterate Map</a></li>
		<li><a ng-click="navigate(5)">Check if key exists in a Map</a></li>
	</ul>
	</div></div>
	
<div class="panel panel-primary" id="1"><div class="panel-heading">Sort Map by Key method1</div><div class="panel-body">
  	<pre><code>
  public void sortMapByKeyMethod1() {
	Map&lt;String, String&gt; unsortedMap = new HashMap&lt;&gt;();
	unsortedMap.put(&quot;Z&quot;, &quot;z&quot;);
	unsortedMap.put(&quot;Y&quot;, &quot;y&quot;);
	unsortedMap.put(&quot;X&quot;, &quot;x&quot;);
	unsortedMap.put(&quot;W&quot;, &quot;w&quot;);
	unsortedMap.put(&quot;V&quot;, &quot;v&quot;);
	unsortedMap.put(&quot;U&quot;, &quot;u&quot;);
	unsortedMap.put(&quot;T&quot;, &quot;t&quot;);
	unsortedMap.put(&quot;S&quot;, &quot;s&quot;);
	unsortedMap.put(&quot;R&quot;, &quot;r&quot;);
	System.out.println(&quot;unsortedMap: &quot; + unsortedMap);

	Map&lt;String, String&gt; sortedMap = new TreeMap&lt;&gt;(unsortedMap);
	System.out.println(&quot;sortedMap: &quot; + sortedMap);
    }
</code></pre>
<h4 class="output">Output</h4>
<pre><code>
unsortedMap: {R=r, S=s, T=t, U=u, V=v, W=w, X=x, Y=y, Z=z}
sortedMap: {R=r, S=s, T=t, U=u, V=v, W=w, X=x, Y=y, Z=z}
</code></pre>
</div></div>

	
<div class="panel panel-primary" id="2"><div class="panel-heading">Sort Map by Key with java.util.Comparator</div><div class="panel-body">
  	<pre><code>
  public void sortMapByKeyWithComparator() {
	Map&lt;Integer, String&gt; unsortedMap = new HashMap&lt;&gt;();
	unsortedMap.put(31, &quot;thirty one&quot;);
	unsortedMap.put(42, &quot;forty two&quot;);
	unsortedMap.put(27, &quot;twenty-seven&quot;);
	unsortedMap.put(20, &quot;twenty&quot;);
	unsortedMap.put(5, &quot;five&quot;);
	unsortedMap.put(100, &quot;hundred&quot;);
	unsortedMap.put(10, &quot;ten&quot;);
	System.out.println(&quot;unsortedMap: &quot; + unsortedMap);

	<em>// ascending order</em>
	Map&lt;Integer, String&gt; ascendingSortedMap1 = new TreeMap&lt;&gt;(new Comparator&lt;Integer&gt;() {
	    @Override
	    public int compare(Integer arg0, Integer arg1) {
		return arg0.compareTo(arg1);
	    }
	});
	ascendingSortedMap1.putAll(unsortedMap);
	System.out.println(&quot;sortMapByKeyWithComparator-&gt; ascendingSortedMap1: &quot; + ascendingSortedMap1);

	<em>//ascending order from java 8</em>
	Map&lt;Integer, String&gt; ascendingSortedMap2 = new TreeMap&lt;&gt;((arg0, arg1) -&gt; {
	    return arg0.compareTo(arg1);
	});
	ascendingSortedMap2.putAll(unsortedMap);
	System.out.println(&quot;sortMapByKeyWithComparator -&gt; ascendingSortedMap2: &quot; + ascendingSortedMap2);

	<em>// descending order</em>
	Map&lt;Integer, String&gt; descendingSortedMap1 = new TreeMap&lt;&gt;(new Comparator&lt;Integer&gt;() {
	    @Override
	    public int compare(Integer arg0, Integer arg1) {
		return arg1.compareTo(arg0);
	    }
	});
	descendingSortedMap1.putAll(unsortedMap);
	System.out.println(&quot;sortMapByKeyWithComparator -&gt; descendingSortedMap1: &quot; + descendingSortedMap1);

	<em>//descending order from java 8</em>
	Map&lt;Integer, String&gt; descendingSortedMap2 = new TreeMap&lt;&gt;((arg0, arg1) -&gt; {
	    return arg1.compareTo(arg0);
	});
	descendingSortedMap2.putAll(unsortedMap);
	System.out.println(&quot;sortMapByKeyWithComparator -&gt; descendingSortedMap2: &quot; + descendingSortedMap2);
    }
</code></pre>
<h4 class="output">Output</h4>
<pre><code>
unsortedMap: {20=twenty, 100=hundred, 5=five, 42=forty two, 10=ten, 27=twenty-seven, 31=thirty one}
sortMapByKeyWithComparator-&gt; ascendingSortedMap1: {5=five, 10=ten, 20=twenty, 27=twenty-seven, 31=thirty one, 42=forty two, 100=hundred}
sortMapByKeyWithComparator -&gt; ascendingSortedMap2: {5=five, 10=ten, 20=twenty, 27=twenty-seven, 31=thirty one, 42=forty two, 100=hundred}
sortMapByKeyWithComparator -&gt; descendingSortedMap1: {100=hundred, 42=forty two, 31=thirty one, 27=twenty-seven, 20=twenty, 10=ten, 5=five}
sortMapByKeyWithComparator -&gt; descendingSortedMap2: {100=hundred, 42=forty two, 31=thirty one, 27=twenty-seven, 20=twenty, 10=ten, 5=five}
</code></pre>
</div></div>

<div class="panel panel-primary" id="3"><div class="panel-heading">Sort Map by value</div><div class="panel-body">
  <pre><code>
  public void sortMapByValue() {
	Map&lt;String, Integer&gt; unsortedMap = new HashMap&lt;&gt;();
	unsortedMap.put(&quot;j&quot;, 65);
	unsortedMap.put(&quot;a&quot;, 24);
	unsortedMap.put(&quot;l&quot;, 32);
	unsortedMap.put(&quot;s&quot;, 27);
	unsortedMap.put(&quot;w&quot;, 15);
	unsortedMap.put(&quot;f&quot;, 20);
	System.out.println(&quot;sortMapByValue -&gt; unsortedMap: &quot; + unsortedMap);

	List&lt;Map.Entry&lt;String, Integer&gt;&gt; list1 = new ArrayList&lt;&gt;(unsortedMap.entrySet());
	Collections.sort(list1, new Comparator&lt;Map.Entry&lt;String, Integer&gt;&gt;() {

	    @Override
	    public int compare(Map.Entry&lt;String, Integer&gt; arg0, Map.Entry&lt;String, Integer&gt; arg1) {
		return arg0.getValue().compareTo(arg1.getValue());
	    }
	});

	Map&lt;String, Integer&gt; sortedMap1ByValue = new LinkedHashMap&lt;&gt;();
	for (Map.Entry&lt;String, Integer&gt; entry : list1) {
	    sortedMap1ByValue.put(entry.getKey(), entry.getValue());
	}
	System.out.println(&quot;sortMapByValue -&gt; sortedMap1ByValue: &quot; + sortedMap1ByValue);

	<em>// from java 8</em>
	List&lt;Map.Entry&lt;String, Integer&gt;&gt; list2 = new ArrayList&lt;&gt;(unsortedMap.entrySet());
	Collections.sort(list2, (arg0, arg1) -&gt; {
	    return arg0.getValue().compareTo(arg1.getValue());
	});

	Map&lt;String, Integer&gt; sortedMap2ByValue = new LinkedHashMap&lt;&gt;();
	for (Map.Entry&lt;String, Integer&gt; entry : list1) {
	    sortedMap2ByValue.put(entry.getKey(), entry.getValue());
	}
	System.out.println(&quot;sortMapByValue -&gt; sortedMap2ByValue: &quot; + sortedMap2ByValue);
    }
</code></pre>
<h4 class="output">Output</h4>
<pre><code>
sortMapByValue -&gt; unsortedMap: {a=24, s=27, f=20, w=15, j=65, l=32}
sortMapByValue -&gt; sortedMap1ByValue: {w=15, f=20, a=24, s=27, l=32, j=65}
sortMapByValue -&gt; sortedMap2ByValue: {w=15, f=20, a=24, s=27, l=32, j=65}
</code></pre>
</div></div>

<div class="panel panel-primary" id="4"><div class="panel-heading">Iterate Map</div><div class="panel-body">
  <pre><code>
  public void iterateMap() {
	Map&lt;String, String&gt; map = new HashMap&lt;&gt;();
	map.put(&quot;Z&quot;, &quot;z&quot;);
	map.put(&quot;Y&quot;, &quot;y&quot;);
	map.put(&quot;X&quot;, &quot;x&quot;);

	<em>//method 1</em>
	System.out.println(&quot;--------- method1------------&quot;);
	Set&lt;Map.Entry&lt;String, String&gt;&gt; entries = map.entrySet();
	for (Map.Entry&lt;String, String&gt; entry : entries) {
	    System.out.println(entry.getKey() + &quot; : &quot; + entry.getValue());
	}

	<em>//method 2 from java 8</em>
	System.out.println(&quot;------method 2 from java 8--------&quot;);
	map.forEach((key, value) -&gt; {
	    System.out.println(key + &quot; : &quot; + value);
	});
    }
</code></pre>
<h4 class="output">Output</h4>
<pre><code>
--------- method1------------
X : x
Y : y
Z : z
------method 2 from java 8--------
X : x
Y : y
Z : z
</code></pre>
</div></div>

<div class="panel panel-primary" id="5"><div class="panel-heading">Check if key exists in a Map</div><div class="panel-body">
  <pre><code>
  public void checkIfKeyExistsInMap() {
	Map&lt;String, String&gt; map = new HashMap&lt;&gt;();
	map.put(&quot;Z&quot;, &quot;z&quot;);
	map.put(&quot;Y&quot;, &quot;y&quot;);
	map.put(&quot;X&quot;, &quot;x&quot;);

	System.out.println(&quot;map: &quot; + map);

	System.out.println(&quot;checkIfKeyExistsInMap -&gt; map.containsKey(\&quot;Z\&quot;): &quot; + map.containsKey(&quot;Z&quot;));
	System.out.println(&quot;checkIfKeyExistsInMap -&gt; map.containsKey(\&quot;z\&quot;): &quot; + map.containsKey(&quot;z&quot;));
	System.out.println(&quot;checkIfKeyExistsInMap -&gt; map.containsKey(\&quot;A\&quot;): &quot; + map.containsKey(&quot;A&quot;));
	System.out.println(&quot;checkIfKeyExistsInMap -&gt; map.containsKey(\&quot;a\&quot;): &quot; + map.containsKey(&quot;a&quot;));
    }
</code></pre>
<h4 class="output">Output</h4>
<pre><code>
map: {X=x, Y=y, Z=z}
checkIfKeyExistsInMap -&gt; map.containsKey(&quot;Z&quot;): true
checkIfKeyExistsInMap -&gt; map.containsKey(&quot;z&quot;): false
checkIfKeyExistsInMap -&gt; map.containsKey(&quot;A&quot;): false
checkIfKeyExistsInMap -&gt; map.containsKey(&quot;a&quot;): false
</code></pre>
</div></div>

</div>

</body>
</html>