<div class="page-header">
    <h3>String</h3>      
</div>

<div class="panel panel-primary"><div class="panel-heading">Contents</div><div class="panel-body">
	<ul>
		<li><a ng-click="navigate(1)">Get byte array from String</a></li>
		<li><a ng-click="navigate(2)">Get Asci value of each Character in a String</a></li>
		<li><a ng-click="navigate(3)">Convert byte array to String</a></li>
	</ul>
</div></div>
	
	<div class="panel panel-primary" id="1"><div class="panel-heading">Get byte array from String</div><div class="panel-body">
  	<pre ><code>
public void getbyteArrayFromString() {
	String string = &quot;Hello World&quot;;

	<em>// method 1</em>
	byte[] byteArray1 = string.getBytes();
	System.out.println(&quot;byteArray1: &quot; + byteArray1);
	System.out.println(&quot;Arrays.toString(byteArray1): &quot; + Arrays.toString(byteArray1));

	<em>//method 2</em>
	byte[] byteArray2 = string.getBytes(Charset.forName(&quot;UTF-8&quot;));
	System.out.println(&quot;byteArray2: &quot; + byteArray2);
	System.out.println(&quot;Arrays.toString(byteArray2): &quot; + Arrays.toString(byteArray2));

	<em>// method 3 - from java 7</em>
	byte[] byteArray3 = string.getBytes(StandardCharsets.UTF_8);
	System.out.println(&quot;byteArray3: &quot; + byteArray3);
	System.out.println(&quot;Arrays.toString(byteArray3): &quot; + Arrays.toString(byteArray3));
    }  	
  	</code></pre>
	<em>Output</em>
	<pre><code>
byteArray1: [B@1d56ce6a
Arrays.toString(byteArray1): [72, 101, 108, 108, 111, 32, 87, 111, 114, 108, 100]
byteArray2: [B@5197848c
Arrays.toString(byteArray2): [72, 101, 108, 108, 111, 32, 87, 111, 114, 108, 100]
byteArray3: [B@17f052a3
Arrays.toString(byteArray3): [72, 101, 108, 108, 111, 32, 87, 111, 114, 108, 100]		
	</code></pre>  	
  	</div></div>

<div class="panel panel-primary" id="2"><div class="panel-heading">Get Asci value of each Character in a String</div><div class="panel-body">
<pre ><code>
public void getAsciValueOfCharsInString() {
	String str = &quot;abcdefghijklmnopqrstuvwxyz&quot;;
	byte[] strByteArray = str.getBytes();
	System.out.println(&quot;asciValues: &quot; + Arrays.toString(strByteArray));
    }  	
</code></pre>
<em>Output</em>
<pre><code>
asciValues: [97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]
</code></pre>
</div></div>

<div class="panel panel-primary" id="3"><div class="panel-heading">Get Asci value of each Character in a String</div><div class="panel-body">
<pre ><code>
 public void convertByteArrayToString() {
	String str = &quot;Hello World&quot;;
	byte[] byteArray = str.getBytes();
	System.out.println(&quot;str: &quot; + str);
	System.out.println(&quot;byteArray: &quot; + byteArray);

	String strFromByteArray = new String(byteArray);
	System.out.println(&quot;strFromByteArray: &quot; + strFromByteArray);
    }
</code></pre>
<em>Output</em>
<pre><code>
str: Hello World
byteArray: [B@1d56ce6a
strFromByteArray: Hello World
</code></pre>
</div></div>